---
layout: default
title: Art
weight: 2
custom_css:
- photoswipe
- default-skin
custom_js:
- jquery-3.2.1.min
- masonry.pkgd.min
- masonry-custom
- gallery-custom
- photoswipe.min
- photoswipe-ui-default.min
---

<!-- <div class="section-title">
	<h4>
		Art
	</h4>
</div>	 -->	

<div class="projects-container grid">

	<!-- <div class="grid-sizer"></div> -->
	{% for art in site.arts %}

		{% assign small_img_path = "/assets/images/art/small/" | append: art.small-image %}
		{% assign large_img_path = "/assets/images/art/large/" | append: art.large-image %}

		<!-- <div class="art-project grid-item"> -->
			<figure class="img-container art-project grid-item">
				<!-- <a href="/assets/{{ art.large-image }}" data-size="{{ art.size }}"> -->
				<a href="{{ large_img_path | absolute_url}}" data-size="{{ art.size }}" class="no-barba">
					<img class="image" src="{{ small_img_path | absolute_url}}" alt="{{art.alt}}">
				</a>
				<!-- ![My helpful screenshot]({{ "/assets/screenshot.jpg" | absolute_url }}) -->
				<!-- <figcaption class="title">{{art.title}}</figcaption> -->
<!-- 				<span class="description">
					{{art.description}}
				</span>
				<span class="medium">
					{{art.medium}}
				</span> -->
			</figure>
		<!-- </div>	 -->

	{% endfor %}  

</div>

{% include photoswipe.html %}