---
layout: default
title: Art
weight: 2
hex: FA2466
subpages: 
- title: Illustration
  type: illustration
  href: /illustration
- title: Figure Drawings
  type: figure-drawing
  href: /figure-drawings
custom_css:
- photoswipe
- default-skin
custom_js:
- jquery-3.2.1.min
- imagesloaded.pkgd.min.js
- masonry.pkgd.min
- masonry-custom
- gallery-custom
- photoswipe.min
- photoswipe-ui-default.min
---

<div class="section-title">
	<h4>
		Art
	</h4>
</div>

<h5 class="subsection-title">
    <a href="illustration">Illustration</a>
</h5>
<hr>

<div class="projects-container grid gallery-1">
    {% include art-list.html section='art' type='illustration' %}
</div>

<h5 class="subsection-title">
    <a href="figure-drawings">Figure Drawings</a>
</h5>
<hr>

<div class="projects-container grid gallery-2">
    {% include art-list.html section='art' type='figure-drawing' %}
</div>


<!--<div class="projects-container grid">-->
<!--{% comment %}-->
<!--    {% for subpage in page.subpages %}&ndash;&gt;-->
<!--        <h3>{{ subpage.title }}</h3>-->
<!--            {% include art-list.html section='art' type='{{subpage.type}}' %}-->
<!--    {% endfor %}-->
<!--{% endcomment %}-->
<!--</div>-->

{% include photoswipe.html %}
