<header class="site-header initial {{ page.title | replace: ' ','-' | downcase }}" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths | sort: "weight" %}

  
    {% if page_paths %}
      <nav class="site-nav">

        <span class='site-title-wrapper'>
          <a {% if page.url == '/' %} class="site-title active" {% else %} class="site-title" {% endif %} href="{{ "/" | relative_url }}">

            {%comment%}
            {% assign site_title_split = site.title | split: "" %}
            {% for letter in site_title_split %}
            <span class="site-title-letter-{{ forloop.index }}{% if letter == '' %}space{% endif %}">{{ letter }}</span>
            {% endfor %}
            {%endcomment%}
            <!-- {{ site.title | escape }} -->
            Declan Van Welie

          </a>
          <div class="menu-wrapper">
            <div id="menu">
              <span class="hamburger"></span>
            </div>
          </div>
        </span>

        <div class="trigger box">

          {% for path in page_paths %}
              {% assign my_page = site.pages | where: "path", path | first %}
              {% if my_page.title %}
                {% unless my_page.exclude or my_page.subpages %}
                  <a {% if page.url contains my_page.url %} class="page-link active link-{{ forloop.index }}" {% else %} class="page-link link-{{ forloop.index }}" {% endif %} href="{{ my_page.url | relative_url }}" >
<!--                     {% assign my_page_split = my_page.title | split: "" %}
                    {% for letter in my_page_split %}
                      <span class="letter-{{ forloop.index }}">{{ letter }}</span>
                    {% endfor %} -->
                    {{ my_page.title | downcase }}
                  </a>
                {% else unless my_page.exclude %}
                  {% assign subpages = my_page.subpages %}
                  <div class="nav-w-children">
                    <a {% if page.url contains my_page.url %} class="page-link active link-{{ forloop.index }}" {% else %} class="page-link link-{{ forloop.index }}" {% endif %} href="{{ my_page.url | relative_url }}" >
                    <!--                     {% assign my_page_split = my_page.title | split: "" %}
                    {% for letter in my_page_split %}
                    <span class="letter-{{ forloop.index }}">{{ letter }}</span>
                    {% endfor %} -->
                      <!-- {{ my_page.title | downcase }} -->
                      {{ my_page.title | downcase }}
                    </a>
                    <ul class="subpages">
                      {% for subpage in subpages %}
                        <li> 
                          <a class="subpage link-{{ forloop.index }}" href="{{ subpage.href | relative_url }}">
                              {{ subpage.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>    
                </div>
                {% endunless %}
              {% endif %} 
          {% endfor %}
        </div>

      </nav>
    {% endif %}
  </div>

</header>
