body.about {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;

	.page-content {
		position: relative;
		display: block;
		overflow: hidden;
		height: 100vh;
		padding-top: 0;
		padding-bottom: 0;

		.about-container {
			// overflow-y: hidden;
			// @include display-flex();
			// @include flex-direction-column();
			// @include justify-content-flex-end();
		 	position: relative;
		 	display: block;
			height: 50vh;

			// height: 100%;
			.background-container {
				//position: relative;
				//display: block;
				//overflow-y: hidden;
				.background-color {
					position: absolute;
					display: block;
					width: 100%;
					height: 80vh;
					min-height: 500px;
					left: 0;
					top: 100px;
					right: 0;
					@include gradient-shadow();

					&.one {
						background-color: $about-yellow;
						transform: skewY(12deg);
						z-index: 2;
						// height: 46%;
					}

					&.two {
						background-color: $about-light-blue;
						transform: skewY(-12deg);
						z-index: 1;
						top: 80vh;
						// top: 54%;
					}

				}


			}

			.collage-container {

				position: relative;
				display: block;
				height: 50vh;
				width: 100vw;
				max-width: 960px;
				margin: 0 auto 0 auto;
				// top: -25%;

				.collage-grid {

					position: relative;
					@include display-flex();
					@include flex-direction-column();
					@include justify-content-center();
					padding-top: 5%;
					@include border-box();
					// height: 40%;
					// min-height: 500px;
					// min-width: 960px;

					// height: 50vh;
					// width: 100vw;
					.collage-row {
						position: relative;
						@include flex(1 0 auto);
						@include display-flex();
						@include flex-direction-row();
						@include justify-content-center();
						min-height: 100px;
						width: 100%;
						// transform: translateZ(-1.5px) scale(1);
						// z-index: 500;

						.collage-col {
							position: relative;
							@include flex(1 0 auto);
							// min-width: 33.33%;
							// width: 33.33%;
							// @include display-flex();


							&.portrait {
								// overflow-y: hidden;
								// max-width: 250px;

							}

							.portrait-wrapper {
								// position: absolute;

								display: block;
								// @include flex(1 0 auto);
								// height: 500px;
								width: 100%;
								overflow-y: hidden;

							}

							.art,
							.photo,
							.portrait {
								position: absolute;
								display: inline-block;
								width: 100%;
								height: auto;
								z-index: 200;
								@include gradient-shadow();
								// transform: translateZ(-1px) scale(2);
							}

							.photo {
								border: 20px solid white;
								z-index: 100;
								right: -20%;
								@include photoIn();
								// top: -100%;
								// left: -30%;
							}

							.portrait {
								// top: -150%;
								z-index: 300;
								top: -20%;
								@include portraitIn();
							}

							.art {
								// top: 20%;
								// right: 0;
								left: -15%;
								top: -30%;
								@include artIn();
							}


							.vertical {
								position: absolute;
								display: block;
								width: 20%;
								height: 800%;
								background-color: $about-light-blue;
								// margin-left: 28%;
								z-index: 300;
								// top: -250%;
								// left: -100%;
								opacity: 0.6;
								// transform: translateZ(-2px) scale(3);

								&.pink {
									width: 5%;
									height: 1200%;
									background-color: $about-pink;
									right: 20%;
									top: -200%;
								}

								@include shapeInTop(4s, 1s);
							}

							.horizontal {
								position: absolute;
								display: block;
								width: 40%;
								height: 80%;
								// right: 0;
								background-color: $about-light-blue;
								// margin-left: 30%;
								z-index: 300;
								top: 0;
								opacity: 0.6;
								@include shapeInLeft(4s, 0s);
								// transform: translateZ(-3px) scale(4);
								&.pink {
									width: 50%;
									left: 0;
									height: 50%;
									// right: -20%;
									background-color: $about-pink;
									z-index: 200;
									opacity: 1;
									top: 20%;
									@include shapeInLeftFullOpacity(2s, 2.5s);
									// transform: translateZ(-4px) scale(5);
									// top: -450%;
								}

								&.yellow {

									background-color: $about-yellow;
									// right: -100%;
									// top: 200%;
									height: 100%;
									width: 150%;
									top: 75%;
									left: 10%;

									&.thin {
										// left: -450%;
										width: 200%;
										opacity: 1;
										height: 10%;
										left: -150%;
										top: 50%;
										// top: -50%;
										// border-top: 10px solid $about-yellow;
										// margin-top: 20px;
										@include border-box();

										// @include gradient-shadow();
										box-shadow: -10px 5px 20px 2px rgba(0, 0, 0, 0.2);
										@include shapeInLeftFullOpacity(2s, 2s);
									}
								}

								&.blue {
									// top: -850%;
									width: 300%;
									z-index: 400;
									left: -50%;
									bottom: 0;
									// aligned with portrait
									// right: -422%;
									// right: -550%;
								}
							}

							.circle {
								position: absolute;
								display: block;
								width: 175px;
								height: 175px;
								border-radius: 100%;
								//border-radius: 27% 73% 38% 62% / 46% 57% 43% 54%;
								background-color: $about-pink;
								background: linear-gradient(19deg, $about-pink 0%, $about-light-blue 100%);
								opacity: 0.6;
								z-index: 400;
								right: -20%;
								// top: 0;
								top: 40%;

								@include shapeInTop(4s, 0.5s);
								//@include morph(20s);


								// @include gradient-shadow();
								// transform: translateZ(-0.25px) scale(2);
								// top: -200%;
								// left: 30%;

								// &.white {
								// 	width: 300px;
								// 	height: 300px;
								// 	border: 50px solid white;
								// 	background-color: transparent;
								// 	top: 100%;
								// }
							}


						}
					}
				}


			}


			// .horizontal {
			// 	position: absolute;
			// 	display: block;
			// 	width: 20%;
			// 	height: 10%;
			// 	// right: 0;
			// 	background-color: $about-pink;
			// 	margin-left: 35%;
			// 	z-index: 300;
			// 	// top: 0;
			// 	opacity: 1;
			// }

			}
	}


	.wrapper.content {
		position: relative;
		display: block;
		.intro-wrapper {

			position: relative;
			display: block;
			z-index: 500;
			width: 100%;

			.intro-container {

				position: relative;
				display: block;
				z-index: 400;
				// @include flex(1 0 auto);
				// margin-top: 20%;


				.intro-text-container {
					position: relative;
					display: block;
					z-index: 300;
					padding: 0 20%;
					@include border-box();
					width: 70%;
					margin: 0 auto;

					.hey-container,
					.intro-text {
						position: relative;
						display: block;
					}

					.intro-text {
						width: 100%;
						@include border-box();
						padding: 50px;
						color: white;
						@include body-font();
						border: 10px solid white;
						@include transform(translateY(-10px));
					}

					.hey-container {
						position: relative;
						display: block;

						width: 100%;
						background-color: white;
						// height: 100%;
						height: auto;
						@include border-box();

						border-right: 1px solid white;

						&:after {
							content: "";
							position: absolute;
							top: 0;
							left: 100%;
							width: 0;
							height: 0;
							border-top: 4.8em solid transparent;
							//border-top: 9em solid transparent;
							border-left: 6.5em solid white;
						}
						&:before {
							content: "";
							position: absolute;
							display: inline-block;
							width: 200%;
							height: 100%;
							background-color: white;
							@include transform(translateX(-100%));
						}


						.hey {

							position: relative;
							display: block;

							font-size: 80px;
							line-height: 100px;
							color: transparent;
							padding: 10px 0 18px 0;

							@include border-box();

							//@include header-font();
							@include body-font-wide();
							z-index: 100;
							width: 100%;
							height: 100%;

							// box-shadow: 2px 2px 2px 2px $about-dark-blue;

							//&:before,
							//&:after {
							//	//content: "Oh, hey!";
							//	position: absolute;
							//	left: 0.5%;
							//	top: 1.5%;
							//	z-index: 200;
							//	color: $about-dark-blue;
							//}

							//&:before {
							//	color: $about-light-blue;
							//	z-index: 500;
							//	left: 0;
							//	top: 0;
							//}
						}
					}

					@include fancyBtn($about-pink, $about-light-blue, 0);


				}

			}

		}



	}



	.wrapper.content {
		position: relative;
		display: block;
		height: 50vh;
		@include border-box();

		.intro-wrapper {
			position: relative;
			display: block;

			.intro-container {
				position: relative;
				display: block;

				.intro-text-container {
					position: relative;
					display: block;
					padding: 0;

					.hey-container {
						position: relative;
						display: block;
						width: 80%;
						padding-right: 0;
						padding-bottom: 0;
						@include transform(none);
						padding-left: 25%;
						@include border-box();
						height: auto;


						.hey {
							position: relative;
							@include border-box();
							font-size: 50px;
							line-height: 50px;
							color: $site-light-blue;
							text-shadow: 4px 2px 1px $site-purple;
							letter-spacing: 2px;
						}
					}

					.intro-box {
						position: relative;
						display: block;
						height: 100%;
						width: 100%;
						.intro-background {
							position: absolute;
							display: block;
							width: 100%;
							height: 90%;
							background: linear-gradient(19deg, $about-pink 0%, $about-light-blue 100%);
							opacity: 0.5;
							z-index: -1;
						}
						.intro-text {
							position: relative;
							display: block;
							//background-color: rgba(241, 171, 41, 0.6);
							//background-color: rgba(53, 9, 65, 0.6);
							z-index: 1;
						}
					}

					.link-container {
						margin-top: 10px;
					}
				}
			}
		}
	}
	@media (max-width: 900px) {
		.page-content {
			.about-container {
				.collage-container {
					.collage-grid {
						.collage-row {
							.collage-col {
								.portrait,
								.photo {
									top: 5vh;
								}
							}
						}
					}
				}
			}
		}
		.wrapper.content {

			.intro-wrapper {

				.intro-container {

					.intro-text-container {
						width: 90%;
						.intro-text {
							padding: 30px;
						}
						.hey-container {
							&:after {
								border-left: 5em solid white;
							}
							.hey {


							}
						}
					}
				}
			}
		}
	}
	@media (max-width: 650px) {

		.page-content {
			.about-container {
				//height: 45vh;
				.collage-container {
					.collage-grid {
						padding-top: 15%;
						.collage-row {
							.collage-col {
								.portrait,
								.photo {
									top: 5vh;
								}
							}
						}
					}
				}
			}
		}
		.wrapper.content {
			.intro-wrapper {
				.intro-container {
					.intro-text-container {
						.hey-container {
							padding-left: 30px;
						}
						//width: 90%;
						.intro-text {
							//padding: 30px;
						}
					}
				}
			}
		}

	}
	@media (max-width: 400px) {

		.page-content {
			.about-container {
				height: 40vh;
				.collage-container {
					.collage-grid {
						padding-top: 20%;
						.collage-row {
							.collage-col {
								.portrait {
									top: 5vh;
								}

								.photo {
									top: -4vh;
								}
								.art {
									top: -8vh;
								}
							}
						}
					}
				}
			}
		}
		.wrapper.content {
			height: 60vh;
			.intro-wrapper {
				.intro-container {
					.intro-text-container {
						.hey-container {
							padding-left: 20px;
							&:after {
								border-left: 3.2em solid white;
							}
							.hey {
								font-size: 38px;
							}
						}
						.intro-text {
							font-size: 16px;
							padding: 18px 20px 20px;
						}
					}
				}
			}
		}

	}
	@media (max-width: 350px) {

		.page-content {
			.about-container {
				height: 40vh;
				.collage-container {
					.collage-grid {
						padding-top: 20%;
						.collage-row {
							.collage-col {
								.portrait {
									top: 5vh;
								}

								.photo {
									top: -8vh;
								}
								.art {
									top: -16vh;
								}
							}
						}
					}
				}
			}
		}
		.wrapper.content {
			height: 60vh;
			.intro-wrapper {
				.intro-container {
					.intro-text-container {
						.hey-container {
							padding-left: 20px;
							&:after {
								border-left: 3.2em solid white;
							}
							.hey {
								font-size: 38px;
							}
						}
						.intro-text {
							font-size: 16px;
							padding: 18px 20px 20px;
						}
					}
				}
			}
		}

	}
}