@keyframes scroll-away {
  0% {
    // opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-4em) scaleY(0.5);
  }
}

@keyframes scroll-in {
	0% {
		opacity: 0;
		transform: translateY(-4em) scaleY(0.5);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@mixin scroll-in() {
  @include prefix-animation(scroll-in 1.25s .25s cubic-bezier(0,1,.3,1) forwards);

}

@mixin scroll-away() {
  @include prefix-animation(scroll-away 1.25s cubic-bezier(0,1,.3,1) forwards);
}


.site-header {
	position: fixed;
	display: block;
	// background-color: white;
	border-top: 0;
	background-color: transparent;

    color: transparent;
    // display: inline-block;
    overflow: hidden;
    text-decoration: none;

    vertical-align: bottom;
    z-index: 1000;
    text-shadow: none;
    border-bottom: none;
    width: 100%;
    top: 0;
    @include border-box();
    padding: 10px 0;
    overflow: visible;
    // If I decide I want a shadow under the header, here is the best option:
    // box-shadow: 5px 10px 40px 10px rgba(0, 0, 0, 0.1);
    // @include gradient-shadow();

  	// background-image: linear-gradient(white, transparent);
  	background-color: transparent;
    // background-image: linear-gradient(blue, transparent);


  	// background-color: transparent;

    &.initial {
	    opacity: 0;
	    @include scroll-in();
    }

    // transform: translateY(-4em) scale(0.75em);

    // transition: all 1.25s cubic-bezier(0,1,.3,1);

    &.scroll-in {
    	opacity: 0;
    	@include scroll-in();
    }

    &.scroll-away {

    	@include scroll-away();

    }


	.site-title {

		@include nav-font();
		// font-family: Tofino-Medium, sans-serif;
		text-transform: uppercase;
		// font-size: 40px;
		// letter-spacing: 0.75px;
		font-weight: 100;
		// color: mix(map_get($colors, 'purple'), map_get($colors, 'green'));
		text-shadow: none;
		text-decoration: none;
		position: relative;
		display: inline-block;
		float: none;

	}

	.page-link {
		position: relative;
		display: inline-block;
	    z-index: 2;
	}

	.site-nav {
		line-height: 25px;
		float: none;
		@include display-flex();
		@include flex-direction-row();

		.site-title-wrapper,
		.page-link {
			@include flex(1 0 auto);
		}

		.site-title,
		.page-link {
			// @include flex(1 0 auto);
			@include nav-button($site-blue, $site-pink);
		}

		.site-title-wrapper {
			align-self: flex-start;
		}

		.page-link {
			align-self: flex-end;
		}

	}


}

// Page-specific header styles:

.home {
	.site-header {

  		// background-image: linear-gradient($site-orange, transparent);

		.site-title,
		.page-link {
			@include nav-button($site-blue, $site-pink);
		}
	}
}

// Here's the idea:
// The user will hover over the art link and the subnav links will reveal one by one below
// Meanwhile, the initial underline will animate around the outskirts of the subnav until it's outlined
// Then, we'll use a little js (or maybe we can get away with a hover state) to detect when the user is no longer hovering over the subnav items and we'll then close them 


@keyframes openSubNav {
  0% {
    // border-radius: 50% 50% 50% 50%;
    // border-radius: 0;
    // transform: skewY(45deg);

    background-color: transparent;

  }

  10% {
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
  }

  80% {
    background-color: black;

  }
  100% {

    // border-radius: 0 0 0 0;
    // background-color: black;
    box-shadow: 0 0 0 150vw black, 0 0 0 150vh black;
  }
}

@mixin openSubNav() {
  @include prefix-animation(openSubNav 0.75s ease-in-out forwards);
}

.site-nav li {
	position: relative;
	display: inline-block;

	.subpages {

		position: absolute;
		visibility: hidden;
		// display: none;
		left: 0;
		top: 45px;
		padding-top: 10px;
		height: auto;
		width: auto;
		z-index: 300;	
		margin: 0;
		opacity: 0;
		border: 1.5px solid transparent;
		border-top: none;

		.subpage {

			@include subnav-button($site-blue, white);
			position: relative;
			display: block;
			opacity: 0;
			// min-height: 50px;
		}
	}

	&:hover {

		.subpages {
			display: block;
			background-color: white;
			border: 1.5px solid $site-pink;
			border-top: none;
			@include animate-in-subnav();

			.subpage {
				$subNavLinks: 4;

				@for $i from 1 through $subNavLinks {
					$time: #{$i*.2}s;
					&.link-#{$i} { 

						@include fadeInSubNavLinks($time);

					}

				}
			}
		}


	}
}


@mixin webProjectHeaderStyles($color1, $color2, $color3) {
	.site-title,
	.page-link {
		// @include web-project($sightseer-red, $sightseer-blue, $sightseer-grey);
		@include nav-button($color1, $color2);
	}

	.site-nav {
		li:hover {
			.subpages {
				background-color: $color3;
				border: 1.5px solid $color2;
				border-top: none;
				.page-link {
					@include nav-button($color1, $color2);
				}
			}
		}
		.site-title-wrapper {
			@include hamburger($color3, $color2);
		}
	}
}

@mixin pageHeaderStyles($color1, $color2) {
	.site-title,
	.page-link {
		// @include web-project($sightseer-red, $sightseer-blue, $sightseer-grey);
		@include nav-button($color1, $color2);
	}

	.site-nav {
		li:hover {
			.subpages {
				//background-color: $color3;
				border: 1.5px solid $color2;
				border-top: none;
				.page-link {
					@include nav-button($color1, $color2);
				}
			}
		}
		.site-title-wrapper {
			@include hamburger($color1, $color2);
		}
	}
}

.about {
	.site-header {
		.site-nav {
			.site-title-wrapper {
				@include hamburger($about-pink, $about-dark-blue);	
			}	
		}


		.site-title,
		.page-link {
			@include nav-button($about-pink, $about-dark-blue);
		}

	}
}

// Page-specific header styles:
.art {
	.site-header {

		// background-image: linear-gradient(white, transparent);
		.site-nav {
			li:hover {
				.subpages {
					border: 1.5px solid $site-blue;
					border-top: none;
				}
			}
			.site-title-wrapper {
				@include hamburger($site-pink, $site-blue);
			}
		}


		.site-title,
		.page-link {
			@include nav-button($site-pink, $site-blue);
		}
	}
}

.photo {
	.site-header {

		// background-image: linear-gradient(white, transparent);
		.site-nav {
			li:hover {
				.subpages {
					border: 1.5px solid $site-blue;
					border-top: none;
				}
			}
			.site-title-wrapper {
				@include hamburger($site-purple, $site-yellow);
			}
		}


		.site-title,
		.page-link {
			@include nav-button($site-purple, $site-yellow);
		}
	}
}

.web {

	@include pageHeaderStyles($site-blue, $site-orange);

	&.sva {
		@include webProjectHeaderStyles($sva-today-grey, $sva-blue, $sva-red);
	}
	&.sva-redesign {
		@include webProjectHeaderStyles($sva-redesign-grey, $sva-redesign-blue, $sva-redesign-red);
	}
	&.relay {
		@include webProjectHeaderStyles($relay-grey, $relay-blue, $relay-red);
	}
	&.sightseer {
		@include webProjectHeaderStyles($sightseer-grey, $sightseer-blue, $sightseer-red);
	}
	&.ritandeclan {
		@include webProjectHeaderStyles($ritandeclan-grey, $ritandeclan-blue, $ritandeclan-pink);
	}
	&.e-blast-builder {
		@include webProjectHeaderStyles($sva-today-grey, $sva-today-blue, $sva-today-red);
	}

}