$first: #382c3d;
$second: #b0c5e2;
$third: #ee323d;
$fourth: #fee8c6;

$site-yellow: #FBB53C;
$site-orange: #FDB170;
$site-pink: #FA2466;
$site-purple: #350941;
$site-blue: #3EAFC4;
$site-light-blue: #9DF4FE;


// web project colors

// relay

$relay-red: #E6464C;
$relay-blue: #18518f;
$relay-grey: #1E1E1E;

// ritandeclan

// blue
$ritandeclan-blue: #75d0bb;
// pink
$ritandeclan-pink: #f7b7c7;
// orange
$ritandeclan-orange: #f18d11;
// grey
$ritandeclan-grey: #656478;
// red
$ritandeclan-red: #e9243c;

// sva today
$sva-today-blue: #00add3;

$sva-today-red: #dc0032;

$sva-today-grey: #4c4d4f;

// sightseer

$sightseer-red: #E91C30;

$sightseer-blue: #69D1EE;

$sightseer-grey: $relay-grey;

// sva current
$sva-red: #d5264f;
$sva-btn-red: #da1e4d;
$sva-blue: #4dbee9;

// sva redesign
$sva-redesign-red: #DA291C;
$sva-redesign-blue: #3EB1C8;
$sva-redesign-grey: #3d3d3d;


// $first: purple;
// $second: green;

// about section colors

$about-pink: #EC48A1;
$about-light-blue: #71DAE6;
$about-yellow: #F1AB29;
$about-dark-blue: $relay-blue;

// Colors
$colors: (
  'green': rgb(1, 255, 137),
  'purple': rgb(122, 95, 255),
  'black': rgb(20, 20, 20)
);

$colors-semi-transparent: (
  'green': rgba(1, 255, 137, 0.75),
  'purple': rgba(122, 95, 255, 0.75),
  'black': rgba(20, 20, 20, 0.75)
);

$default-margin: 15px;

$button-font: Tofino-Narrow-Medium, sans-serif;