---
layout: default
title: Editorial
weight: 1
hex: 9DF4FE
<!-- subpages: Illustration, Figure Drawings, Other Art -->
custom_css:
- photoswipe
- default-skin
custom_js:
- jquery-3.2.1.min
- imagesloaded.pkgd.min.js
- masonry.pkgd.min
- masonry-custom
- gallery-custom
- photoswipe.min
- photoswipe-ui-default.min
---

<!-- <div class="section-title">
	<h4>
		Illustration
	</h4>
</div>	 -->

<div class="projects-container grid">
<!--	{% include art-list.html type='illustration' %}-->
</div>

<!--{% include photoswipe.html %}-->
