---
layout: default
---
 
<!--<h2 class="content">{{page.title}}</h2>-->
<!-- -->
<!--<figure class="img-container">-->
<!--	<a href="/assets/{{ art.large-image }}" >-->
<!--		<img class="image" src="/assets/{{ art.small-image }}" alt="{{art.alt}}">-->
<!--	</a>-->
<!--	&lt;!&ndash; ![My helpful screenshot]({{ "/assets/screenshot.jpg" | absolute_url }}) &ndash;&gt;-->
<!--	<figcaption class="title">{{art.title}}</figcaption>-->
<!--	<span class="description">-->
<!--		{{art.description}}-->
<!--	</span>-->
<!--	<span class="medium">-->
<!--		{{art.medium}}-->
<!--	</span>-->
<!--</figure>-->

<!--<p>{{page.description}}</p>-->
 
<!-- {{ content }} -->


<!--<div class="projects-container grid hide">-->
<!--	{% include art-list.html section='art' %}-->
<!--</div>-->

<!--{% include photoswipe.html %}-->
