<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  {% if page.title and page.layout == 'default' or page.layout == 'page' %}
    {% assign pageName = page.title|downcase %}
  {% else if page.layout != null %}
    {% assign pageName = page.layout|downcase %}
  {% else %}
    {% assign pageName = 'home' %}
  {% endif %}

  <body id="barba-wrapper" class="{{pageName}}" >
    {% include shape-overlays.html %}
    <div class="barba-container" data-namespace="{{pageName}}">

      {% if page.layout == "home" %}

      {% endif %}

      <!-- <div class="graddynamic"> -->
        <div class="content-container">

          {% include new-header.html %}

          {% unless page.title == 'About' %}
          <main class="page-content" aria-label="Content">
            <div class="wrapper content">
              {{ content }}
            </div>
          </main>

          {% else %}

          {{content}}

          {% endunless %}
      
        {%comment%}  {% include footer.html %} {%endcomment%}

        </div>
      <!-- </div> -->

    </div>
  </body>

</html>
