<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  {% if page.title and page.layout == 'default' or page.layout == 'page' %}
    {% assign pageName = page.title|downcase %}
  {% else if page.layout != null %}
    {% assign pageName = page.layout|downcase %}
  {% else %}
    {% assign pageName = 'home' %}
  {% endif %}

  <body id="barba-wrapper" class="{{pageName}}" >
    <div class="barba-container" data-namespace="{{pageName}}">

      {% if page.layout == "home" %}
        <div class="web-background-wrapper">
           <div class="background-container">
            {% include  web-intro.svg %}
           </div>
        </div>
        <div class="art-background-wrapper">
        </div>

      {% endif %}

      <!-- <div class="graddynamic"> -->
        <div class="content-container">

          {% include header.html %}
      
          <main class="page-content" aria-label="Content">
            <div class="wrapper content">
              {{ content }}
            </div>
          </main>
      
        {%comment%}  {% include footer.html %} {%endcomment%}

        </div>
      <!-- </div> -->

    </div>
  </body>

</html>
