---
layout: default
pageId: home
---


<div class="web-intro-container">
	<h3 class="web-intro">
		Web design & development
	</h3>

	<h3 class="web-intro-line-2">
		by day
	</h3>
</div>

<div class="art-intro-container">
	<h3 class="art-intro">
		Art
	</h3>

	<h3 class="art-intro-line-2">
		by night
	</h3>
</div>

 
<!--  {% assign intro = "Web Designer & Developer by Day" | split: "" %}

 <h3 class="introduction">

 	{% for letter in intro %}
 		<span class="intro-letter-{{ forloop.index }}">{{ letter }}</span>
 	{% endfor %}
 	
 </h3> -->