---
layout: default
hex: 3EAFC4
---
 
{% assign img_path = "/assets/images/web/" %}
{% assign nextPage = page.next %}
{% assign prevPage = page.previous %}

<div class="web-project-container {{ page.title | replace: ' ','-' | downcase }}">
	<div class="background-color one"></div>
	<div class="background-color two"></div>
	{% if page.previous %}
	<a class='page-nav prev' href="{{prevPage.url}}.html" data-hex="{{prevPage.hex}}">
		<div class="arrow-link-container">
			<div class="arrow">
			</div>
			<div class="text-container" >
				<span class='one'>Previous</span>
				<span class='two'>Project</span>
				<!-- {{page.previous.title}} -->
			</div>
		</div>
	</a>
	{% endif %}
	{% if nextPage %}
	<a class="page-nav next" href="{{nextPage.url}}.html" data-hex="{{nextPage.hex}}">
		<div class="arrow-link-container">

			<div class="text-container" >
				<span class='one'>Next</span>
				<span class='two'>Project</span>
				<!-- {{page.next.title}} -->
			</div>
			<div class="arrow">
			</div>
		</div>
	</a>
	{% endif %}
	<div class="content-container intro">

		<div class="title-container">
			<h2 class="title">
				{{page.title}}
			</h2>
		</div>

		<div class="intro-image">
			<img src="{{img_path | append: page.image1}}" />
		</div>

		<div class="intro-text-container">
			<div class="description-container">
				<div class="intro-text-description">
					<div class="intro-text">
						{{page.description1}}
					</div>
				</div>
				<div class="tech-wrapper">
					<h6 class="tech-title">Technologies:</h6>
					<div class="tech-list">

						{% for technology in page.technologies %}
							<p class="tech-item tech-{{ forloop.index }}">
								<span>
									{{technology}}

									{% comment %}
										{{technology}}{% if forloop.last != true %}, {% endif %}
									{% endcomment %}
								</span>
							</p>
						{% endfor %}
					</div>
				</div>
			</div>
			{% if page.externalUrl %}
			<div class="link-container">
				<div class="link-wrapper">
					<a class="link" href="{{ page.externalUrl }}" target="_blank">
						View Live Site
					</a>
				</div>
			</div>
			{% endif %}
		</div>

	</div>

	{% comment %}
		<div class="isolated-wrapper">
			<div class="isolated-container">
				<p class="isolated-statement">
					{{page.description2}}
				</p>
			</div>
		</div>
	{% endcomment %}

	<div class="objective-container show-on-scroll">

		<div class="title-container">
			<div class="title">
				Objective
			</div>
		</div>

		<div class="objective-wrapper">
			<p class="objective">
				{{ page.objective }}
			</p>
		</div>

	</div>

	<div class="content-container outro show-on-scroll">
		{% if page.video1 %}
			<div class="video-container">
				{{ page.video1 }}
			</div>
		{% elsif page.image2 %}
			<div class="intro-image">
				<img src="{{img_path | append: page.image2}}" />
			</div>
		{% endif %}
		{% if page.image3 == nil %}
			<div class="isolated-text">
				<p class='text'>
					{{ page.description2 }}
				</p>
			</div>
		{% else %}
			<div class="full-width-text-container">
				<p class="text">
					{{ page.description2 }}
				</p>
			</div>
		{% endif %}
	</div>

	{% if page.image3 and page.video2 == nil %}
		<div class="content-container outro show-on-scroll">
			<div class="intro-image">
				<img src="{{img_path | append: page.image3}}" />
			</div>
			<div class="isolated-text">
				<p class='text'>
					{{ page.description3 }}
				</p>
			</div>
		</div>

	{% elsif page.video2 %}
		<div class="content-container outro show-on-scroll">
			<div class="video-container">
				{{ page.video2 }}
			</div>
			<div class="isolated-text">
				<p class='text'>
					{{ page.description3 }}
				</p>
			</div>
		</div>
	{% elsif page.description3 %}
		<div class="content-container outro show-on-scroll">
			<div class="isolated-text show-on-scroll">
				<p class='text'>
					{{ page.description3 }}
				</p>
			</div>
		</div>
	{% endif %}

	{% if page.image4 and page.description4 %}
		<div class="content-container outro show-on-scroll">
			<div class="intro-image">
				<img src="{{img_path | append: page.image4}}" />
			</div>
			{% if page.description4 %}
				<div class="full-width-text-container">
					<p class="text">
						{{ page.description4 }}
					</p>
				</div>
			{% endif %}
		</div>
	{% elsif page.video3 and page.description4 %}
        <div class="content-container outro show-on-scroll">
            <div class="video-container">
                {{ page.video3 }}
            </div>
            <div class="full-width-text-container">
                <p class="text">
                    {{ page.description4 }}
                </p>
            </div>
        </div>
	{% elsif page.description4 %}
		<div class="content-container outro show-on-scroll">
			<div class="full-width-text-container">
				<p class="text">
					{{ page.description4 }}
				</p>
			</div>
		</div>
	{% endif %}

	{% if page.image5 %}
	<div class="content-container outro show-on-scroll">
		<div class="intro-image">
			<img src="{{img_path | append: page.image5}}" />
		</div>
		{% if page.description5 %}
		<div class="isolated-text">
			<p class='text'>
				{{ page.description5 }}
			</p>
		</div>
		{% endif %}
	</div>

	{% endif %}

</div>

